p{
	float: right;
	background-color: cyan;
	border: 5px solid pink;
	border-radius: 25px;
	padding: 20px;
	margin-top: 75px;
	margin-right: 25px;
	margin-left: 150px
}

img{
	float: left;
}