p{
	float: right;
	background-color: cyan;
	border: 5px solid pink;
	border-radius: 25px;
	padding: 20px;
}

/*img{
	float: left;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}*/

#TextOnImage{
	position: relative;
	text-align: center;
	color: white;
}

#Centered{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}